.wrapperUsers{
    display: flex;
}
.userPhoto{
    width: 100px;
}
.pageActive{
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
}
.page{
    padding: 15px;
    cursor: pointer;
    display: inline-block;
}