.friend {
    color: white;
    margin-right: 10px;
    text-decoration: none;
    /*padding: 10px;*/
}

.active {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    box-shadow: 0 0 34px 7px #0ae636;
    border-radius: 5%;
}

.photoFriend {
    width: 40px;
    border-radius: 50%;
    padding: 5px;
}

.nameFriend {
    padding-left: 5px;
    padding-right: 5px;
}