.header {
    grid-area: h;
    background-color: #c4183c;
    background-image: linear-gradient(to right,#c4183c,#4f37ac)
}

.header img {
    width: 50px;
    padding: 15px;
}
.loginBlock{
    float: right;
    padding: 15px;
}
.loginBlock a{
    color: white;
    font-size: 20px;
}