.nav {
    grid-area: n;
    background-color: #c4183c;
    background-image: linear-gradient(to right, #c4183c, #4f37ac);
    padding: 20px;
}

.item{
    color: white;
    text-decoration: none;
}
.item:last-child{
    margin-top: 50px;
}
.active {
    color: #3fd100;;
    text-decoration: none;
}
