.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    /*color: #00ffe1;*/
}

.dialogsItems .active {
    color: #00ffe1;
}

.dialog {
    color: darkturquoise;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.messages .message {
    /*color: white;*/
}